.AddTaskInput {
  position: absolute;
  bottom: 3rem;
  width: min(90%, 70.5rem);
  display: grid;
  align-items: center;
}

.InputIcon {
  position: absolute;
  right: .5rem;
}

.InputIcon .Icon {
  width: 1.5rem;
  height: 1.5rem;
}