./backend/Pipfile.lock
./backend/Pipfile
./backend/WeGo/migrations
./backend/authentication/migrations
./backend/venv
/.idea
/.vscode

./frontend/node_modules
./frontend/build


./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*