.SupportOthers {
  display: flex;
  flex-direction: column;
}

.SupportOthers section {
  flex-grow: 1;
  display: grid;
  place-items: center;
  padding: 1rem 0;
  color: black;
}

p {
  font-size: 30px;
}
