.Button {
  border: 2px solid #F33B7B;
  padding: .5rem 1rem;
  background-color: #F33B7B;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}

