.Button {
  border: 2px solid #09475d;
  padding: .5rem 1rem;
  background-color: #09475d;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}

.CancelBtn {
  background-color: #FFFFFF;
  color: #09475d;
}